@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: #f3e5e9;
}

.display-none {
  display: none;
}

nav {
  background: #2a394f;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.logo-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
}

.menu li:hover {
  background-color: #d99f73;
}

.toggle-menu {
  color: #d99f73;
  align-items: center;
  margin-right: 20px;
  font-size: 20px;
  cursor: pointer;
}

ul {
  display: flex;
  padding: 0;
}

li {
  list-style: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 800px) {
  nav {
    flex-direction: column;
    width: 100vw;
    padding: 10px;
    box-sizing: border-box;
  }

  .logo {
    padding: 10px;
  }

  .toggle-menu {
    display: flex;
  }

  .menu {
    flex-direction: column;
    display: none;
  }

  .sns-links {
    justify-content: center;
    display: none;
  }

  li {
    display: flex;
    justify-content: center;
  }

  .active {
    display: flex;
  }
}
